@import "colors.css";
@import "../images/icon-download.svg";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

body {
    background: var(--background-color);
}

header {
    background: var(--background-color);
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 2;
}

#menu_on {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 2;
    float: right;
    margin: 20px 24px;
}

#menu_on .menu_on_span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: var(--purple-color);
    transition: all 0.25s ease;
    transform-origin: 0px 100%;
}

#menu_on .menu_on_span:nth-child(2) {
    top: calc(50% - 2px);
}

#menu_on .menu_on_span:nth-child(3) {
    bottom: 0;
}

.visible_menu .menu_on_span:nth-child(1) {
    transform: rotate(45deg) translate(-2px, 1px);
}

.visible_menu .menu_on_span:nth-child(2) {
    opacity: 0;
}

.visible_menu .menu_on_span:nth-child(3) {
    transform: rotate(-45deg) translate(-3px, 3px);
}

#menu {
    position: fixed;
    top: 100px;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 90px 30px 30px;
    background: var(--primary-color);
    opacity: 0;
    transition: all 0.75s ease;
    font-size: 1.2em;
    overflow-y: auto;
}

.visible_menu {
    position: absolute;
}

.visible_menu #menu {
    left: 0;
    opacity: 0.8;
}

#menu a {
    display: block;
    margin: 24px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: var(--menuColor);
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    text-align: center;
}

#menu a.title-desk{
    display: none;
}

#menu a.title-mobile{
    display: block;
}


.line {
    width: 65px;
    border-top: 1px solid var(--line);
    margin: 0 auto;
    display: block;
    position: relative;
}

.logo {
    width: 100%;
    height: 53px;
    background-image: var(--logo-mobile);
    background-repeat: no-repeat;
    margin-left: 24px;
}

.top-line {
    width: 100%;
    border-top: 5px solid var(--border-color);
}
.mimenu {
    width:100% ;

}

.content-menu {
    display: flex;
    justify-content: space-between;
    background: var(--background-color);
    width: 100%;
    height: auto;
}

.nav-search {
    display: none;
}

/*TRENDING*/
.trending {
    padding-top: 1rem;
    padding-bottom: 1%;
    margin: 0 auto;

}

.trending-content{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 2.5rem;
    color: var(--titleColor);
}

.trending-topic {
    cursor: pointer;
}

.images-search{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2vw;
    max-width: 100%;
    margin: 1rem auto;
}

.image-content{
    width: 100%;
    border: 1px solid  black;
    animation-duration: 2s;
    animation-name: fade;
    position: relative;
    z-index: 1;
}

.image-content > img {
    width: 100%;
    height: 100%;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.card:hover{
    background: rgb(87, 46, 229,0.6);
    opacity: 1;
}

.group-icons {
    display: flex;
    justify-content: flex-end;
    gap: 0.2rem;
    margin: 0.5rem;
    
}
.option-button {
    background-position: center;
    background-color: white;
    border-radius: 0.3rem;
    width: 30px;
    height: 30px;
    border: none;
    opacity: 0.7;
    cursor: pointer;
}
.option-button:hover {
    opacity: 1;
}

.max-icon {
    background: url("../images/icon-max-normal.svg") no-repeat;
}

.heart-icon {
    background: url("../images/icon-fav-hover.svg") no-repeat;
}

.download-icon {
    background: url("../images/icon-download.svg") no-repeat;
}
.group-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    left: 15px;
    bottom: 20px;
}

@media screen and (min-width: 1220px) {
    #menu a.title-mobile{
        display: none;
    }
    
    #menu a.title-desk{
        display: block;
    }
    .logo {
        width: 75px;
        height: auto;
        margin-top: 10px;
        margin-left: 119px;
        background-image: var(--logo-desktop);
    }
    #menu_on {
        display: none;
    }
    #menu_on .menu_on_span {
        display: none;
    }
    #menu {
        display: flex;
        justify-content: flex-end;
        background: var(--background-color);
        position: static;
        visibility: visible;
        opacity: 1;
        padding: 0px;
    }
    #menu a {
        color: var(--titleColor);
        margin: 0px;
    }
    #menu ul li {
        padding: 5px 10px;
        display: inline-block;
    }
  
    li a {
        padding: 5px 10px;
        text-transform: uppercase;
        
    }
    li a:active {
        color: var(--link-active);
    }
    li a:hover {
        text-decoration-line: underline;
        color: var(--link-active);
        text-decoration-color: var(--green-color);
    }
    .line {
        display: none;
    }

    /*INPUT SEARCH HEADER*/
    .nav-search {
        display: block;
        visibility: hidden;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        background-color:var(--inputColor);
        border: 1px solid var(--borderSearch);
        color: var(--color);;
        text-align: left;
        border-radius: 2em;
        width: 25%;
        height: 2.5em;
        margin:auto;
        background-position: 95% 60%;
        padding-left: 2.5em;
        font-weight: 400;
        background-image: var(--logo-background-image);
        background-repeat: no-repeat;
        text-indent: 20px;
    }
    
    .nav-search::-webkit-search-cancel-button {
        position: relative;
        right: 20px;
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        content: var(--logo-close-search);
        cursor:pointer
    }
    
    .nav-search:active {
        outline: none;
        background-image: var(--logo-background-image);
    }
    
    .nav-search:focus {
        outline: none;
        background-image: var(--logo-background-image);
    }
    
    .nav-search:valid {
        background-image: none;
    }

    .nav-search {
        visibility: hidden;
    }

    .shadow {
        background: white;
        box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
      }

    .create-gif {
        border: 1px solid var(--titleColor);
        border-radius: 100%;
        text-align: center;
        margin: 1rem;
    }

    .images-search{
        grid-template-columns: repeat(4,1fr);
    }

}


/*BUSQUEDA*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 1%;
    margin: 0 auto;
}

.imagen {
    width: 100%;
    margin: 0 auto;
}

h1,h2{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color:var(--titleColor);
    text-align: center;
    line-height: 33px;
    font-weight: 600;
    letter-spacing: 0;
}
h4 {
    font-family: "Montserrat", sans-serif;
    color: "#ffffff";
    line-height: 20px;
    font-weight: 600;
}
.user-name {
    font-weight: 100;
}

  
h1::after {
   content: " GIFOS";
   color: #50e3c2;
}
  

#welcome {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
    

#search {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color:var(--inputColor);
    border: 1px solid var(--borderSearch);
    color: var(--color);;
    text-align: left;
    border-radius: 2em;
    width: 70%;
    height: 2.5em;
    margin:auto;
    background-position: 95% 60%;
    padding-left: 2.5em;
    font-weight: 400;
    background-image: var(--logo-background-image);
    background-repeat: no-repeat;
    text-indent: 20px;
}

#search::-webkit-search-cancel-button {
    position: relative;
    right: 20px;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    content: var(--logo-close-search);
    cursor:pointer
}

#search:active {
    outline: none;
    background-image: var(--logo-background-image);
}

#search:focus {
    outline: none;
    background-image: var(--logo-background-image);
}

#search:valid {
    background-image: none;
}
 
.list {
    background-position: 95% 60%;
    border: 1px solid var(--borderSearch);
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    padding-bottom: 2em;
    cursor: pointer;
}

.option-list {
    color:var(--color);
    margin-left: 1rem;
    margin-top: 1rem;
}

#suggestions-list {
    width: 70%;
}

.fa-search {
    color: #bbc8d6;
    width: 1.3em;
    height: 1.3em;
}


/*BUSQUEDA*/